[Unit]
Description=Mount unit for lxd, revision 18251
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_18251.snap
Where=/snap/lxd/18251
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
