[Unit]
Description=Mount unit for lxd, revision 15359
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_15359.snap
Where=/snap/lxd/15359
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
