[Unit]
Description=Mount unit for lxd, revision 18077
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_18077.snap
Where=/snap/lxd/18077
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
