[Unit]
Description=Mount unit for lxd, revision 20400
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/lxd_20400.snap
Where=/snap/lxd/20400
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
