[Unit]
Description=Mount unit for lxd, revision 18013
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_18013.snap
Where=/snap/lxd/18013
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
