[Unit]
Description=Mount unit for lxd, revision 16044
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_16044.snap
Where=/snap/lxd/16044
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
