[Unit]
Description=Mount unit for core20, revision 875
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core20_875.snap
Where=/snap/core20/875
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
