[Unit]
Description=Mount unit for lxd, revision 18402
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_18402.snap
Where=/snap/lxd/18402
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
