[Unit]
Description=Mount unit for lxd, revision 18772
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_18772.snap
Where=/snap/lxd/18772
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
