[Unit]
Description=Mount unit for lxd, revision 16100
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_16100.snap
Where=/snap/lxd/16100
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
