[Unit]
Description=Mount unit for lxd, revision 19389
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_19389.snap
Where=/snap/lxd/19389
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
