[Unit]
Description=Mount unit for snapd, revision 7777
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/snapd_7777.snap
Where=/snap/snapd/7777
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
