[Unit]
Description=Mount unit for lxd, revision 16926
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_16926.snap
Where=/snap/lxd/16926
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
