[Unit]
Description=Mount unit for lxd, revision 14890
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_14890.snap
Where=/snap/lxd/14890
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
