[Unit]
Description=Mount unit for lxd, revision 17936
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_17936.snap
Where=/snap/lxd/17936
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
