[Unit]
Description=Mount unit for snapd, revision 9607
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/snapd_9607.snap
Where=/snap/snapd/9607
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
