[Unit]
Description=Mount unit for lxd, revision 21723
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/lxd_21723.snap
Where=/snap/lxd/21723
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
