[Unit]
Description=Mount unit for core20, revision 904
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core20_904.snap
Where=/snap/core20/904
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
