[Unit]
Description=Mount unit for lxd, revision 15457
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_15457.snap
Where=/snap/lxd/15457
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
