[Unit]
Description=Mount unit for lxd, revision 19325
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_19325.snap
Where=/snap/lxd/19325
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
